{% extends 'base.html' %}


{% block content %}
    <h1>{{ movie.title }}</h1>
    <ul>
        <li>Director: {{ movie.director }}</li>
        <li>Release Date: {{ movie.release_date }}</li>
    </ul>
    <h2>Add a new review</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ movie_form.as_p }}
        <button type="submit">Add new review</button>
    </form>
    {% if movie.reviews.all %}
    <h2>Reviews</h2>
    <ul>
        {% for review in movie.reviews.all %}
        <li>
            {{ review.content }}
            <hr>
            {{ review.created }}
            {% if review.author %}
            <hr>
            {{ review.author.username }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

